@page "/"

<h3>Home</h3>

<h5>This project involves the development of an event and participant management system, allowing organizers to create and manage events while participants register and manage their registrations.</h5>