
@using Events_WebAPP.Client.Pages
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="Login" class="btn btn-warning"> Login</a>
        </div>
        
        @if (SessionId.user != null)
        {
            <div class="top-row px-4">
                Logged as: @SessionId.user.Username
                <a href="Login" class="btn btn-warning"> LoOut</a>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
